<settings>
<servers>
  <server>
    <id>artifactdomain-cicd-codeartifact-repo</id>
    <username>aws</username>
    <password>${env.CODEARTIFACT_AUTH_TOKEN}</password>
  </server>
</servers>

<profiles>
  <profile>
    <id>artifactdomain-cicd-codeartifact-repo</id>
    <activation>
      <activeByDefault>true</activeByDefault>
    </activation>
    <repositories>
      <repository>
        <id>artifactdomain-cicd-codeartifact-repo</id>
        <url>https://artifactdomain-697244794930.d.codeartifact.us-east-2.amazonaws.com/maven/cicd-codeartifact-repo/</url>
      </repository>
    </repositories>
  </profile>
</profiles>

<mirrors>
  <mirror>
    <id>artifactdomain-cicd-codeartifact-repo</id>
    <name>artifactdomain-cicd-codeartifact-repo</name>
    <url>https://artifactdomain-697244794930.d.codeartifact.us-east-2.amazonaws.com/maven/cicd-codeartifact-repo/</url>
    <mirrorOf>*</mirrorOf>
  </mirror>
</mirrors>

</settings>
